<div class="row">
  <nav>
    <div class="add-listing">
      <%= link_to "Post a job: $200 for 30 days", new_job_path %>
    </div>
    <form id="search_form" method="get" action="/search">
      <input id="search_term" type="text" placeholder="Search: ‘css’, ‘javascript’, ‘rails’…" name="q">
    </form>
  </nav>
</div>

<div class="row jobs">

      <ul>
        <% @jobs.each do |job| %>
          <li>
            <%= link_to controller: "jobs", action: "show", id: job._id do %>
              <span class="company"><%= job.name %></span>
              <span class="title"><%= job.job_title %></span>
              <span class="date"><%= job.url %></span>
            <% end %>
          </li>
        <% end %>
      </ul>

</div>
