<div class="row" id="intro">
  <a href="/#intro"><strong>We Work Remotely</strong></a> is the best place to find and list jobs that aren’t
    restricted by commutes or a particular geographic area. Find the most qualified people in the most unexpected
    places: Hire remote! Follow us on Twitter
  <a class="twitter" href="https://twitter.com/dinarcse">@dinarcse</a>
</div>
<div class="row">
  <nav>
    <div class="add-listing">
      <%= link_to "Post a job: $200 for 30 days", new_job_path %>
    </div>

    <%= render 'search/form' %>
  </nav>
</div>
<div class="row jobs">
  <% for category in @categories %>
    <% if(category.jobs.count > 0) %>
      <h2><%= link_to category.name, category %><span> Latest post <%= time_ago_in_words(category.jobs.last.created_at) %></span></h2>
      <ul>
        <% for job in category.jobs %>
          <% if job.highlight == true %>
            <li class="featured">
          <% else %>
            <li>
          <% end %>
          <% if job.created_at > 1.day.ago %>
            <span class="new">New</span>
          <% end %>
            <%= link_to job do %>
              <span class="company"><%= job.name %></span>
              <span class="title"><%= job.job_title %></span>
              <span class="date"><%= job.created_at.strftime("%B %d") %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
