<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:head) %>
      <%= content_for(:head) %>
    <% else %>
      <title>We Work Remotly</title>
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <% if(!current_page?(root_path)) %>
      <div class="container">
        <div class="row header">
          <%= link_to root_path do %>
				      <%= image_tag "logo.jpg" %>
			    <% end %>
        </div>
      </div>
      <% end %>
      <% if(current_page?(root_path)) %>
      <div class="container">
        <div class="row header-main">
          <%= link_to root_path do %>
				      <%= image_tag "logo.jpg" %>
			    <% end %>
        </div>
      </div>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <% if(current_page?(root_path)) %>
    <div class="container-fluid footer">
      <div class="container">

      </div>
    </div>
    <% end %>
  </body>
</html>
